<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE template SYSTEM "../template.dtd">
<template>
	<name>CSV</name>
	<author>Piotr Ozarowski</author>
	<email>ozarow@gmail.com</email>
	<version>0.1-beta4</version>
	<extension>csv</extension>
	<description>Generates simple CSV document</description>
	<description xml:lang="pl">Generuje prosty dokument CSV</description>
</template>
