Source: griffith
Section: gnome
Priority: optional
Maintainer: Piotr Ozarowski <ozarow@gmail.com>
Build-Depends: debhelper (>>4), make, python (>= 2.3), gettext

Package: griffith
Architecture: all
Depends: python (>=2.3), python-gtk2 (>= 2.6), python-glade2, python-sqlite, python-reportlab
Recommends: python-gnome2-extras
Description: A film collection manager
 Griffith is a film collection manager application.
 .
 Adding items to the movie collection is as quick and easy as typing the film
 title and selecting a supported source. Griffith will then try to fetch all
 the related information from the Web.
