Source: griffith
Section: gnome
Priority: optional
Maintainer: Piotr Ozarowski <ozarow@gmail.com>
Uploaders: Laszlo Boszormenyi <gcs@debian.org>
Build-Depends-Indep: debhelper (>>4), python (>= 2.3)
Standards-Version: 3.6.2

Package: griffith
Architecture: all
Depends: python (>=2.3), python-gtk2 (>= 2.6), python-glade2, python-sqlite, python-reportlab, python-imaging
Recommends: python-gnome2-extras, griffith-extra-artwork (>=0.6)
Description: A film collection manager
 Adding items to the movie collection is as quick and easy as typing the film
 title and selecting a supported source. Griffith will then try to fetch all
 the related information from the Web.
 .
  Homepage: http://griffith.vasconunes.net/
