#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1


configure:
	dh_testdir
	touch configure-stamp

build: configure
	dh_testdir
	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp
	
	-$(MAKE) clean
	
	dh_clean 

install: build
	dh_testdir
	dh_testroot
	dh_clean -k 
	dh_installdirs
	
	$(MAKE) install DESTDIR=$(CURDIR)/debian/griffith

binary: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs ChangeLog
	dh_installdocs
	dh_installmenu
	dh_link usr/share/griffith/lib/griffith /usr/bin/griffith
	dh_compress
	dh_fixperms
	dh_python
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

source: clean
	DIR="`pwd`";DIR="$${DIR##*/}"; cd .. && dpkg-source -b "$$DIR" "$$DIR.orig.tar.gz"

.PHONY: build clean binary install configure
