[Desktop Entry]
Name=Griffith
GenericName=Griffith - Movie Collection Manager
Comment=Movie Collection Manager
Version=0.9
Encoding=UTF-8
Exec=griffith
Icon=griffith.png
MimeType=application/x-executable
Terminal=false
Type=Application
StartupNotify=true
StartupWMClass=Griffith
Categories=GNOME;GTK;Application;Database;AudioVideo

GenericName[en_PT]=Griffith - Um gestor de colecções de filmes
GenericName[pl]=Griffith - wspomaga zarządzanie kolekcją filmów

Comment[pt_PT]=Gerir uma colecção de filmes.
Comment[pt]=Gerir uma colecção de filmes.
Comment[pl]=wspomaga zarządzanie kolekcją filmów.
